build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.lock
*.log
.idea/
.vscode/
*.iml
.DS_Store
coverage/
.git/
.gitignore
README.md
*.md
test/
integration_test/
android/
ios/
linux/
macos/
windows/
web/icons/Icon-*.png
